body {
  background-color: #ffe6f0;
  font-family: Arial, sans-serif;
  color: rgb(30, 30, 30);
  font-size: 16px;
  line-height: 1.6;
}





h1 {
  color: #BF3444;
  font-size: 30px;
  margin-bottom: 10px;
}

h2 {
  color: #DB3C6C;
  font-size: 22px;
  margin-bottom: 8px;
}

h3 {
  color: #9933ff;
  font-size: 18px;
}



a {
  text-decoration: none;
  color: #BF3444;
  font-weight: 600;
  font-size: 18px;
  font-style: italic;
  transition: color 0.3s ease;
}

a:hover {
  color: black;
}



.container {
  width: 700px;
  margin: 30px auto;
}



.card {
  border: 1px solid #DB3C6C;
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 15px 15px 35px rgba(0,0,0,0.2);
  margin: 20px 0;
  text-align: center;
}



.img-circle {
  width: 120px;
  border-radius: 50%;
}



.btn-blue {
  background-color: #BF3444;
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 15px;
}

.btn-blue:hover {
  background-color: black;
  color: white;
}



.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline;
  padding: 0px 20px;
}


@media (max-width: 720px) {
  .container {
    width: 90%;
  }
}
